@charset "UTF-8";
@font-face {
  font-family: helvetica;
  src: url("../polices/_H_HelveticaNeueInterface.ttf");
}
html {
  scroll-snap-type: y mandatory;
  transition: 3s;
  font-family: "Poppins";
}

body section {
  scroll-snap-align: start;
  height: 100vh;
}

/* Pour ceux a qui on a envie de mettre un fond degradé */
.degrade {
  background-image: radial-gradient(circle at 56.16% 120.44%, #f446ff 0, #d635fb 25%, #b31ef3 50%, #8c02eb 75%, #6100e5 100%);
}

.conteneurMenu {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
}
.conteneurMenu > div {
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
  display: flex;
}
.conteneurMenu .conteneurLogo {
  width: 50%;
  display: flex;
  align-items: center;
}
.conteneurMenu .conteneurLogo p {
  font-family: "Poppins";
  font-size: 23px;
  margin-left: 100px;
}
.conteneurMenu nav {
  width: 50%;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteneurMenu nav a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 0 16px;
}

* {
  box-sizing: border-box;
}

.page-content section.newsletter {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.page-content section.newsletter .container {
  max-width: 1600px;
  width: 80%;
}
.page-content section.newsletter .container h2 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
  line-height: 65px;
}
.page-content section.newsletter .container p {
  font-size: 24px;
  line-height: 36px;
}
.page-content section.newsletter .container .conteneur-popover {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}
.page-content section.newsletter .container .conteneur-popover details {
  color: white;
  margin-top: 32px;
  border: 2px solid white;
}
.page-content section.newsletter .container .conteneur-popover details ul {
  list-style: none;
  color: black;
  text-align: left;
  line-height: 30px;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a,
a:active,
a:focus {
  color: #6f6f6f;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

.section-title h2 {
  font-size: 36px;
  font-weight: 700;
  background-image: -webkit-linear-gradient(-30deg, #052157 0%, #91039f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 14px;
}

.newsletter {
  background: url(https://i.ibb.co/JRrHmhv/shanghai.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: 2;
  min-height: 100vh;
}

.newsletter:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(-30deg, #91039f 0%, #052157 100%);
  opacity: 0.8;
  z-index: -1;
}

.newsletter .section-title {
  margin-bottom: 59px;
}

.newsletter .section-title h2 {
  background-image: -webkit-linear-gradient(-30deg, #ffffff 0%, #ffffff 100%);
}

.newsletter .section-title p {
  color: #fff;
}

.newsletter .newsletter-form {
  background: -webkit-linear-gradient(-30deg, #91039f 0%, #052157 100%);
  position: relative;
  height: 60px;
  z-index: 2;
  width: 800px;
  margin: 0 auto;
}

.newsletter .newsletter-form:after {
  position: absolute;
  content: "";
  left: -2px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  background: -webkit-linear-gradient(-30deg, #91039f 0%, #91039f 100%);
  z-index: -1;
}

.newsletter .newsletter-form input {
  width: 100%;
  height: 100%;
  border: none;
  background: #3f1667;
  color: #fff;
  background-clip: padding-box;
  padding: 1px;
  box-sizing: border-box;
  font-size: 24px;
  padding-left: 16px;
}

.newsletter .newsletter-form input::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.6;
}

.newsletter .newsletter-form input:-ms-input-placeholder {
  color: #fff;
  opacity: 0.6;
}

.newsletter .newsletter-form input::-ms-input-placeholder {
  color: #fff;
  opacity: 0.6;
}

.newsletter .newsletter-form input::placeholder {
  color: #fff;
  opacity: 0.6;
}

.newsletter .newsletter-form button {
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  width: 170px;
  background: -webkit-linear-gradient(-30deg, #91039f 0%, #052157 100%);
  outline: none;
  border: none;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  font-size: 24px;
}

.newsletter .newsletter-form button:hover {
  background: -webkit-linear-gradient(-30deg, #052157 0%, #91039f 100%);
}

/* popover */
details[data-popover] {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

details[data-popover] > summary:focus {
  outline: none;
}

details[data-popover] > summary::-webkit-details-marker {
  display: none;
}

details[data-popover] > summary {
  list-style: none;
  background-clip: padding-box;
  padding: 16px 32px;
  transition: 0.3s;
}

details[data-popover]:hover > summary {
  list-style: none;
  cursor: pointer;
  background-color: white;
  color: purple;
}

details[data-popover] > summary + * {
  position: absolute;
  display: block;
  z-index: 1;
  width: 350%;
  border: solid 1px teal;
  border-radius: 20px;
  padding: 10px;
  background: white;
}

details[data-popover] > * + * {
  /* hide detail elements that would ruin the popover */
  display: none;
}

details[data-popover=down] > summary + * {
  top: calc(0.5rem + 100%);
  right: 50%;
  transform: translateX(50%);
}

/* wrapper setup */
.wrapper {
  width: 100%;
  padding: 250px;
}

/*# sourceMappingURL=formation_gratuite.css.map */
