@charset "UTF-8";
@font-face {
  font-family: "graphik";
  src: url("../polices/00.+Graphik-Medium-Web.woff2");
  font-display: swap;
}
html {
  scroll-snap-type: y mandatory;
  transition: 3s;
  font-family: "Poppins";
  scroll-behavior: smooth;
}

body section {
  scroll-snap-align: start;
  min-height: 100vh;
}

/* Pour ceux a qui on a envie de mettre un fond degradé */
.degrade {
  background-image: radial-gradient(circle at 56.16% 120.44%, #f446ff 0, #d635fb 25%, #b31ef3 50%, #8c02eb 75%, #6100e5 100%);
}

/* Cette animation fait apparaitre puis disparaitre les mots au debuts */
@keyframes motQuiApparait {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Cette animation fait disparaitre la div firsLoad, faisant apparaitre le reste de la page  */
@keyframes faireDisparaitreFirstLoad {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes apparait {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .appear-animation {
    animation: wipe-enter 1s 1;
  }
}
.conteneurMenu {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
}
.conteneurMenu > div {
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
  display: flex;
}
.conteneurMenu .conteneurLogo {
  width: 50%;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}
.conteneurMenu .conteneurLogo p {
  font-family: "Poppins";
  font-size: 23px;
  margin-left: 100px;
}
.conteneurMenu nav {
  width: 50%;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteneurMenu nav a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 0 16px;
}
.conteneurMenu nav a:last-child {
  display: inline-block;
  padding: 16px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  text-align: center;
  background-color: #e91e63;
}

#first-load {
  width: 100%;
  height: 100vh;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: white;
  animation: faireDisparaitreFirstLoad;
  animation-duration: 0.5s;
  animation-delay: 4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  z-index: 20;
}

#first-load > span {
  font-size: 20px;
  opacity: 0;
  animation: motQuiApparait;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

/*Pour que les mots n'apparaissent pas en même temps*/
#first-load > span:first-child {
  animation-delay: 0.5s;
}

#first-load > span:nth-child(2) {
  animation-delay: 1.5s;
}

#first-load > span:nth-child(3) {
  animation-delay: 2.5s;
}

.hero {
  position: relative;
}
.hero .conteneurHero {
  height: 100vh;
  width: 100%;
  max-width: 1600px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.hero .conteneurHero .logo {
  width: 30%;
  background-image: url(../images/mascotte-v1.png);
  background-repeat: no-repeat;
  background-size: 305px;
  background-position: left 85%;
  z-index: 10;
}
.hero .conteneurHero .conteneur {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 80px;
}
.hero .conteneurHero .conteneur .logo {
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 50px;
  right: 100px;
}
.hero .conteneurHero .conteneur .conteneur-titre {
  width: 100%;
  color: white;
}
.hero .conteneurHero .conteneur > * {
  animation: apparait;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 4.5s;
}
.hero .conteneurHero .conteneur .les-premiers-pas {
  line-height: 80px;
}
.hero .conteneurHero .conteneur h1 {
  font-size: 50px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.hero .conteneurHero .conteneur p.description {
  opacity: 0;
  font-size: 25px;
  margin-bottom: 50px;
  margin-top: 56px;
  color: white;
  line-height: 42px;
  background-clip: text;
  -webkit-background-clip: text;
  color: white;
}
.hero .conteneurHero .conteneur .conteneur-cta a.cta {
  text-decoration: none;
  color: white;
  padding: 16px 40px;
  text-transform: uppercase;
  background-color: white;
  color: purple;
  border: 2px solid white;
}
.hero .conteneurHero .conteneur .conteneur-cta a.cta:last-child {
  background-color: transparent;
  color: white;
}

.custom-shape-divider-bottom-1651429820 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  pointer-events: none;
}

.custom-shape-divider-bottom-1651429820 svg {
  position: relative;
  display: block;
  width: calc(218% + 1.3px);
  height: 500px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1651429820 .shape-fill {
  fill: white;
}

.bloc-tu-veux {
  display: flex;
}
.bloc-tu-veux .conteneur {
  width: 50%;
  height: 100vh;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins";
  font-size: 30px;
  z-index: 5;
  position: relative;
}
.bloc-tu-veux .conteneur .hidden {
  opacity: 0;
}
.bloc-tu-veux .conteneur .console-container {
  font-size: 45px;
  height: 200px;
  width: 80%;
  max-width: 960px;
  display: block;
  color: white;
}
.bloc-tu-veux .conteneur .console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}
.bloc-tu-veux .conteneur-cta {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 96px;
}
.bloc-tu-veux .conteneur-cta > p {
  line-height: 23px;
  font-size: 18px;
  padding: 0 46px;
}
.bloc-tu-veux .conteneur-cta .cta {
  text-decoration: none;
  color: white;
  align-self: center;
  background-color: #e91e63;
  padding: 16px 40px;
  text-transform: uppercase;
}

.developpeuse {
  color: white;
  margin-bottom: 32px;
  font-weight: bold;
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  font-size: 45px;
}

.message {
  color: white;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 578px;
  animation: openclose 15s ease-in-out infinite;
}

@keyframes openclose {
  0% {
    top: 0rem;
    width: 0;
  }
  5% {
    width: 300;
  }
  22% {
    width: 300px;
  }
  45% {
    top: 0rem;
    width: 300px;
  }
  50% {
    top: 0rem;
    width: 0;
  }
  52% {
    top: -4.2rem;
    width: 0;
  }
  57% {
    top: -4.2rem;
  }
  72% {
    top: -4.2rem;
    width: 300px;
  }
  92% {
    top: -4.2rem;
    width: 300px;
  }
  98% {
    top: -4.2rem;
    width: 0;
    text-indent: 0;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}
.header {
  text-align: center;
}
.header a {
  text-decoration: none;
  color: black;
}

.accordion {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

.accordion-item {
  position: relative;
}
.accordion-item.active .heading {
  color: #404040;
}
.accordion-item.active .icon:before {
  background: #404040;
}
.accordion-item.active .icon:after {
  width: 0;
}
.accordion-item .heading {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1rem;
  position: relative;
  padding: 1.5rem 1.5rem 1.5rem 4rem;
  transition: 0.3s ease-in-out;
}
@media (min-width: 40rem) {
  .accordion-item .heading {
    font-size: 1.2rem;
  }
}
.accordion-item .heading:hover {
  color: #404040;
}
.accordion-item .heading:hover .icon:before, .accordion-item .heading:hover .icon:after {
  background: #404040;
}
.accordion-item .icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 3px;
  transform: translateY(-50%);
}
.accordion-item .icon:before, .accordion-item .icon:after {
  content: "";
  width: 1.25rem;
  height: 0.25rem;
  background: black;
  position: absolute;
  border-radius: 3px;
  left: 50%;
  top: 50%;
  transition: 0.3s ease-in-out;
  transform: translate(-50%, -50%);
}
.accordion-item .icon:after {
  transform: translate(-50%, -50%) rotate(90deg);
  z-index: -1;
}
.accordion-item .content {
  max-height: 0;
  overflow: hidden;
  transition: 1s;
}
.accordion-item .content p {
  margin-top: 0;
  padding: 0 64px;
}
@media (min-width: 40rem) {
  .accordion-item .content {
    line-height: 1.75;
  }
}

.blocPourquoiCyl {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blocPourquoiCyl .conteneurBloc {
  max-width: 1600px;
  margin: 0 auto;
}
.blocPourquoiCyl .conteneurBloc h2 {
  text-align: center;
  margin: 32px 0;
  font-weight: bold;
  font-size: 50px;
}

.container {
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 35px;
  margin: 0 auto;
  margin-top: 48px;
}
.container .cardPourquoi {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  background: white;
  border-radius: 15px;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}
.container .cardPourquoi .face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .cardPourquoi .face h4 {
  color: black;
  font-size: 22px;
  text-align: center;
  margin: 24px 0;
  font-weight: bold;
}
.container .cardPourquoi .face p {
  color: black;
  font-size: 18px;
  line-height: 28px;
  padding-top: 16px;
}
.container .cardPourquoi .face a {
  display: block;
  width: 220px;
  position: absolute;
  bottom: 88px;
  padding: 8px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  text-align: center;
}
.container .cardPourquoi .face a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}
.container .cardPourquoi .face.face1 {
  box-sizing: border-box;
  padding: 20px;
  align-items: flex-start;
}
.container .cardPourquoi .face.face1 h3 {
  margin: 0;
  padding: 0;
}
.container .cardPourquoi .face.face2 {
  transition: 0.5s;
}
.container .cardPourquoi .face.face2 h3 {
  margin: 0;
  padding: 0;
  font-size: 3em;
  color: #fff;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.container .cardPourquoi:hover .face.face2 {
  height: 60px;
}
.container .cardPourquoi:hover .face.face2 h4 {
  font-size: 2em;
}
.container .cardPourquoi:nth-child(1) .face.face2 {
  background-image: linear-gradient(40deg, #D937FB 0%, #7701E8 45%, #760989 100%);
  border-radius: 15px;
}
.container .cardPourquoi:nth-child(2) .face.face2 {
  background-image: linear-gradient(40deg, #7701E8 0%, #760989 45%, #D937FB 100%);
  border-radius: 15px;
}
.container .cardPourquoi:nth-child(3) .face.face2 {
  background-image: linear-gradient(40deg, #760989 0%, #7701E8 45%, #D937FB 100%);
  border-radius: 15px;
}

.cardPourquoi .la-pratique a {
  background-color: #2196f3;
}

.cardPourquoi .comment-apprendre a {
  background-color: #e91e63;
}

.cardPourquoi .pour-coder a {
  background-color: #23c186;
}

.cardPourquoi:not(:hover):first-child .face.face2 {
  transition: 2s;
  animation: cardMove;
  animation-duration: 3s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.5, 1.75, 0.75, 1.25);
}

@keyframes cardMove {
  30% {
    height: 70%;
  }
  90% {
    height: 70%;
  }
  100% {
    height: 100%;
  }
}
section.bloc-cta-html {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-size: 30px;
  position: relative;
}
section.bloc-cta-html .conteneurBloc {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
}
section.bloc-cta-html .conteneurBloc h2 {
  text-align: center;
  margin: 32px 0;
  font-weight: bold;
}
section.bloc-cta-html .conteneurBloc p {
  line-height: 45px;
}
section.bloc-cta-html .conteneurBloc strong {
  font-weight: bold;
}
section.bloc-cta-html .conteneurBloc .conteneur-boutons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
section.bloc-cta-html .conteneurBloc .conteneur-boutons a {
  display: block;
  text-decoration: none;
  color: white;
  background-color: purple;
  padding: 16px 40px;
  margin: 0 16px;
  text-transform: uppercase;
  font-size: 18px;
}

.bloc-cta-html code, .bloc-cta-html .card-code .line-numbers, .card-code .bloc-cta-html .line-numbers {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
}
.bloc-cta-html code .cta, .bloc-cta-html .card-code .line-numbers .cta, .card-code .bloc-cta-html .line-numbers .cta {
  position: absolute;
  width: calc(100% - 42px);
  bottom: 30px;
  display: flex;
  justify-content: space-around;
}
.bloc-cta-html code .cta a, .bloc-cta-html .card-code .line-numbers .cta a, .card-code .bloc-cta-html .line-numbers .cta a {
  display: inline-block;
  width: 120px;
  padding: 8px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  text-align: center;
}
.bloc-cta-html code .cta a:first-child, .bloc-cta-html .card-code .line-numbers .cta a:first-child, .card-code .bloc-cta-html .line-numbers .cta a:first-child {
  background-color: #2196f3;
}
.bloc-cta-html code .cta a:last-child, .bloc-cta-html .card-code .line-numbers .cta a:last-child, .card-code .bloc-cta-html .line-numbers .cta a:last-child {
  background-color: #23c186;
}

.card-code {
  transform: scale(1.5);
  margin-bottom: 120px;
  margin: 10% auto;
  position: relative;
  width: 30rem;
  height: 15rem;
  perspective: 150rem;
  text-align: center;
}
.card-code-front, .card-code-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  transition: 0.9s cubic-bezier(0.25, 0.8, 0.25, 1);
  backface-visibility: hidden;
  overflow: hidden;
}
.card-code-front:before, .card-code-front:after, .card-code-back:before, .card-code-back:after {
  position: absolute;
}
.card-code-front:before, .card-code-back:before {
  top: -40px;
  right: -40px;
  content: "";
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.08);
  transform: rotate(45deg);
  z-index: 1;
}
.card-code-front:after, .card-code-back:after {
  content: "+";
  top: 0;
  right: 10px;
  font-size: 24px;
  transform: rotate(45deg);
  z-index: 2;
}
.card-code-front {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #101010, #2c3e50);
}
.card-code-front:after {
  color: #212f3c;
}
.card-code-back {
  background: linear-gradient(-45deg, #101010, #2c3e50);
  transform: rotateX(180deg);
}
.card-code-back:after {
  color: #11181f;
}
.card-code:hover .card-code-front {
  transform: rotateX(-180deg);
}
.card-code:hover .card-code-back {
  transform: rotateX(0deg);
}
.card-code .line-numbers {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 0.03);
  font-size: 13px;
}
.card-code .line-numbers > div {
  padding: 2.5px 0;
  opacity: 0.15;
}
.card-code code, .card-code .line-numbers {
  color: whitesmoke;
}
.card-code .indent {
  padding-left: 30px;
}
.card-code .operator {
  color: #4dd0e1;
}
.card-code .string {
  color: #9ccc65;
}
.card-code .variable {
  color: #BA68C8;
}
.card-code .property {
  color: #ef5350;
}
.card-code .method {
  color: #29b6f6;
}
.card-code .function {
  color: #FDD835;
}
.card-code .boolean {
  color: #4dd0e1;
}

.card-code-front .indent {
  padding-left: 60px;
  padding-right: 30px;
}

.card-code:not(:hover) .card-code-front {
  animation: codeMove;
  animation-duration: 7s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.5, 1.75, 0.75, 1.25);
}

@keyframes codeMove {
  0% {
    transform: rotateX(0);
  }
  10% {
    transform: rotateX(-10deg);
  }
  30% {
    transform: rotateX(20deg);
  }
  40% {
    transform: rotateX(-10deg);
  }
  50% {
    transform: rotateX(10deg);
  }
  60% {
    transform: rotateX(0);
  }
}
.conteneur-pas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  pointer-events: none;
}

.ajax-loader, .ajax-loader2, .ajax-loader3, .ajax-loader4 {
  position: absolute;
  transform-origin: 50% 50%;
  font-size: 80px;
  width: 1em;
  height: 3em;
  color: #d31145;
}
.ajax-loader .paw, .ajax-loader2 .paw, .ajax-loader3 .paw, .ajax-loader4 .paw {
  width: 1.5em;
  height: 1em;
  animation: 20100ms pawAnimation ease-in-out infinite;
  opacity: 0;
}
.ajax-loader .paw svg, .ajax-loader2 .paw svg, .ajax-loader3 .paw svg, .ajax-loader4 .paw svg {
  width: 100%;
  height: 100%;
}
.ajax-loader .paw .icon, .ajax-loader2 .paw .icon, .ajax-loader3 .paw .icon, .ajax-loader4 .paw .icon {
  fill: #d31145;
}
.ajax-loader .paw:nth-child(odd), .ajax-loader2 .paw:nth-child(odd), .ajax-loader3 .paw:nth-child(odd), .ajax-loader4 .paw:nth-child(odd) {
  transform: rotate(0deg);
}
.ajax-loader .paw:nth-child(even), .ajax-loader2 .paw:nth-child(even), .ajax-loader3 .paw:nth-child(even), .ajax-loader4 .paw:nth-child(even) {
  transform: rotate(0deg) scaleX(-1) translate(15%, -50%);
}
.ajax-loader .paw:nth-child(1), .ajax-loader2 .paw:nth-child(1), .ajax-loader3 .paw:nth-child(1), .ajax-loader4 .paw:nth-child(1) {
  animation-delay: 9.5s;
  transform: rotate(0deg) translate3d(-4%, -48%, 0);
}
.ajax-loader .paw:nth-child(1), .ajax-loader2 .paw:nth-child(1), .ajax-loader3 .paw:nth-child(1), .ajax-loader4 .paw:nth-child(1) {
  animation-delay: 9.5s;
  transform: rotate(-8deg) translate3d(30%, -50%, 0);
}
.ajax-loader .paw:nth-child(2), .ajax-loader2 .paw:nth-child(2), .ajax-loader3 .paw:nth-child(2), .ajax-loader4 .paw:nth-child(2) {
  animation-delay: 9s;
  transform: rotate(0deg) scaleX(-1) translate3d(10%, -100%, 0);
}
.ajax-loader .paw:nth-child(2), .ajax-loader2 .paw:nth-child(2), .ajax-loader3 .paw:nth-child(2), .ajax-loader4 .paw:nth-child(2) {
  animation-delay: 9s;
  transform: rotate(-8deg) scaleX(-1) translate3d(-30%, -120%, 0);
}
.ajax-loader .paw:nth-child(3), .ajax-loader2 .paw:nth-child(3), .ajax-loader3 .paw:nth-child(3), .ajax-loader4 .paw:nth-child(3) {
  animation-delay: 8.5s;
  transform: rotate(0deg) translate3d(-12%, -144%, 0);
}
.ajax-loader .paw:nth-child(3), .ajax-loader2 .paw:nth-child(3), .ajax-loader3 .paw:nth-child(3), .ajax-loader4 .paw:nth-child(3) {
  animation-delay: 8.5s;
  transform: rotate(0deg) translate3d(45%, -144%, 0);
}
.ajax-loader .paw:nth-child(4), .ajax-loader2 .paw:nth-child(4), .ajax-loader3 .paw:nth-child(4), .ajax-loader4 .paw:nth-child(4) {
  animation-delay: 8s;
  transform: rotate(0deg) scaleX(-1) translate3d(20%, -200%, 0);
}
.ajax-loader .paw:nth-child(4), .ajax-loader2 .paw:nth-child(4), .ajax-loader3 .paw:nth-child(4), .ajax-loader4 .paw:nth-child(4) {
  animation-delay: 8s;
  transform: rotate(0deg) scaleX(-1) translate3d(-32%, -200%, 0);
}
.ajax-loader .paw:nth-child(5), .ajax-loader2 .paw:nth-child(5), .ajax-loader3 .paw:nth-child(5), .ajax-loader4 .paw:nth-child(5) {
  animation-delay: 7.5s;
  transform: rotate(0deg) translate3d(-20%, -240%, 0);
}
.ajax-loader .paw:nth-child(5), .ajax-loader2 .paw:nth-child(5), .ajax-loader3 .paw:nth-child(5), .ajax-loader4 .paw:nth-child(5) {
  animation-delay: 7.5s;
  transform: rotate(0deg) translate3d(40%, -240%, 0);
}
.ajax-loader .paw:nth-child(6), .ajax-loader2 .paw:nth-child(6), .ajax-loader3 .paw:nth-child(6), .ajax-loader4 .paw:nth-child(6) {
  animation-delay: 7s;
  transform: rotate(0deg) scaleX(-1) translate3d(30%, -300%, 0);
}
.ajax-loader .paw:nth-child(6), .ajax-loader2 .paw:nth-child(6), .ajax-loader3 .paw:nth-child(6), .ajax-loader4 .paw:nth-child(6) {
  animation-delay: 7s;
  transform: rotate(0deg) scaleX(-1) translate3d(-30%, -300%, 0);
}
.ajax-loader .paw:nth-child(7), .ajax-loader2 .paw:nth-child(7), .ajax-loader3 .paw:nth-child(7), .ajax-loader4 .paw:nth-child(7) {
  animation-delay: 6.5s;
  transform: rotate(0deg) translate3d(-28%, -336%, 0);
}
.ajax-loader .paw:nth-child(7), .ajax-loader2 .paw:nth-child(7), .ajax-loader3 .paw:nth-child(7), .ajax-loader4 .paw:nth-child(7) {
  animation-delay: 6.5s;
  transform: rotate(1deg) translate3d(7%, -336%, 0);
}
.ajax-loader .paw:nth-child(8), .ajax-loader2 .paw:nth-child(8), .ajax-loader3 .paw:nth-child(8), .ajax-loader4 .paw:nth-child(8) {
  animation-delay: 6s;
  transform: rotate(0deg) scaleX(-1) translate3d(40%, -400%, 0);
}
.ajax-loader .paw:nth-child(8), .ajax-loader2 .paw:nth-child(8), .ajax-loader3 .paw:nth-child(8), .ajax-loader4 .paw:nth-child(8) {
  animation-delay: 6s;
  transform: rotate(1deg) scaleX(-1) translate3d(8%, -400%, 0);
}
.ajax-loader .paw:nth-child(9), .ajax-loader2 .paw:nth-child(9), .ajax-loader3 .paw:nth-child(9), .ajax-loader4 .paw:nth-child(9) {
  animation-delay: 5.5s;
  transform: rotate(0deg) translate3d(-36%, -432%, 0);
}
.ajax-loader .paw:nth-child(10), .ajax-loader2 .paw:nth-child(10), .ajax-loader3 .paw:nth-child(10), .ajax-loader4 .paw:nth-child(10) {
  animation-delay: 5s;
  transform: rotate(0deg) scaleX(-1) translate3d(50%, -500%, 0);
}
.ajax-loader .paw:nth-child(11), .ajax-loader2 .paw:nth-child(11), .ajax-loader3 .paw:nth-child(11), .ajax-loader4 .paw:nth-child(11) {
  animation-delay: 4.5s;
  transform: rotate(0deg) translate3d(-44%, -528%, 0);
}
.ajax-loader .paw:nth-child(12), .ajax-loader2 .paw:nth-child(12), .ajax-loader3 .paw:nth-child(12), .ajax-loader4 .paw:nth-child(12) {
  animation-delay: 4s;
  transform: rotate(0deg) scaleX(-1) translate3d(60%, -600%, 0);
}
.ajax-loader .paw:nth-child(13), .ajax-loader2 .paw:nth-child(13), .ajax-loader3 .paw:nth-child(13), .ajax-loader4 .paw:nth-child(13) {
  animation-delay: 3.5s;
  transform: rotate(0deg) translate3d(-52%, -624%, 0);
}
.ajax-loader .paw:nth-child(14), .ajax-loader2 .paw:nth-child(14), .ajax-loader3 .paw:nth-child(14), .ajax-loader4 .paw:nth-child(14) {
  animation-delay: 3s;
  transform: rotate(0deg) scaleX(-1) translate3d(70%, -700%, 0);
}
.ajax-loader .paw:nth-child(15), .ajax-loader2 .paw:nth-child(15), .ajax-loader3 .paw:nth-child(15), .ajax-loader4 .paw:nth-child(15) {
  animation-delay: 2.5s;
  transform: rotate(0deg) translate3d(-60%, -720%, 0);
}
.ajax-loader .paw:nth-child(16), .ajax-loader2 .paw:nth-child(16), .ajax-loader3 .paw:nth-child(16), .ajax-loader4 .paw:nth-child(16) {
  animation-delay: 2s;
  transform: rotate(0deg) scaleX(-1) translate3d(80%, -800%, 0);
}
.ajax-loader .paw:nth-child(17), .ajax-loader2 .paw:nth-child(17), .ajax-loader3 .paw:nth-child(17), .ajax-loader4 .paw:nth-child(17) {
  animation-delay: 1.5s;
  transform: rotate(0deg) translate3d(-68%, -816%, 0);
}
.ajax-loader .paw:nth-child(18), .ajax-loader2 .paw:nth-child(18), .ajax-loader3 .paw:nth-child(18), .ajax-loader4 .paw:nth-child(18) {
  animation-delay: 1s;
  transform: rotate(0deg) scaleX(-1) translate3d(90%, -900%, 0);
}
.ajax-loader .paw:nth-child(19), .ajax-loader2 .paw:nth-child(19), .ajax-loader3 .paw:nth-child(19), .ajax-loader4 .paw:nth-child(19) {
  animation-delay: 0.5s;
  transform: rotate(0deg) translate3d(-76%, -912%, 0);
}
.ajax-loader .paw:nth-child(20), .ajax-loader2 .paw:nth-child(20), .ajax-loader3 .paw:nth-child(20), .ajax-loader4 .paw:nth-child(20) {
  animation-delay: 0s;
  transform: rotate(0deg) scaleX(-1) translate3d(100%, -1000%, 0);
}
.no-cssanimations .ajax-loader .paw, .no-cssanimations .ajax-loader2 .paw, .no-cssanimations .ajax-loader3 .paw, .no-cssanimations .ajax-loader4 .paw {
  opacity: 1;
}

.ajax-loader {
  top: 15%;
  left: 10%;
  transform: rotate(-1deg) translate(-50%, 0%);
}

.ajax-loader2 {
  top: 15%;
  right: 20%;
  transform: rotate(-10deg) translate(-50%, 0%);
}

.ajax-loader3 {
  top: 45%;
  left: 30%;
  transform: rotate(150deg) translate(-50%, 0%);
}

.ajax-loader4 {
  top: 55%;
  right: 10%;
  transform: rotate(180deg) translate(-50%, 0%);
}

@keyframes pawAnimation {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes path1 {
  0% {
    transform: rotate(0deg) scaleX(-1) translate3d(0%, -50%, 0);
  }
  30% {
    transform: rotate(20deg) scaleX(-1) translate3d(-35%, -60%, 0);
  }
  100% {
    transform: rotate(20deg) scaleX(-1) translate3d(0%, -80%, 0);
  }
}
.paw2 {
  width: 1.5em;
  height: 1em;
  animation: 20100ms pawAnimation ease-in-out infinite;
  opacity: 0;
}
.paw2 svg {
  width: 100%;
  height: 100%;
}
.paw2 .icon {
  fill: #d31145;
}
.paw2:nth-child(odd) {
  transform: rotate(0deg);
}
.paw2:nth-child(even) {
  transform: rotate(0deg) scaleX(-1) translate(15%, -50%);
}
.paw2:nth-child(1) {
  animation-delay: 19.5s;
  transform: rotate(0deg) translate3d(-4%, -48%, 0);
}
.paw2:nth-child(1) {
  animation-delay: 19.5s;
  transform: rotate(-8deg) translate3d(30%, -50%, 0);
}
.paw2:nth-child(2) {
  animation-delay: 19s;
  transform: rotate(0deg) scaleX(-1) translate3d(10%, -100%, 0);
}
.paw2:nth-child(2) {
  animation-delay: 19s;
  transform: rotate(-8deg) scaleX(-1) translate3d(-30%, -120%, 0);
}
.paw2:nth-child(3) {
  animation-delay: 18.5s;
  transform: rotate(0deg) translate3d(-12%, -144%, 0);
}
.paw2:nth-child(3) {
  animation-delay: 18.5s;
  transform: rotate(0deg) translate3d(45%, -144%, 0);
}
.paw2:nth-child(4) {
  animation-delay: 18s;
  transform: rotate(0deg) scaleX(-1) translate3d(20%, -200%, 0);
}
.paw2:nth-child(4) {
  animation-delay: 18s;
  transform: rotate(0deg) scaleX(-1) translate3d(-32%, -200%, 0);
}
.paw2:nth-child(5) {
  animation-delay: 17.5s;
  transform: rotate(0deg) translate3d(-20%, -240%, 0);
}
.paw2:nth-child(5) {
  animation-delay: 17.5s;
  transform: rotate(0deg) translate3d(40%, -240%, 0);
}
.paw2:nth-child(6) {
  animation-delay: 17s;
  transform: rotate(0deg) scaleX(-1) translate3d(30%, -300%, 0);
}
.paw2:nth-child(6) {
  animation-delay: 17s;
  transform: rotate(0deg) scaleX(-1) translate3d(-30%, -300%, 0);
}
.paw2:nth-child(7) {
  animation-delay: 16.5s;
  transform: rotate(0deg) translate3d(-28%, -336%, 0);
}
.paw2:nth-child(7) {
  animation-delay: 16.5s;
  transform: rotate(1deg) translate3d(7%, -336%, 0);
}
.paw2:nth-child(8) {
  animation-delay: 16s;
  transform: rotate(0deg) scaleX(-1) translate3d(40%, -400%, 0);
}
.paw2:nth-child(8) {
  animation-delay: 16s;
  transform: rotate(1deg) scaleX(-1) translate3d(8%, -400%, 0);
}
.paw2:nth-child(9) {
  animation-delay: 15.5s;
  transform: rotate(0deg) translate3d(-36%, -432%, 0);
}
.paw2:nth-child(10) {
  animation-delay: 15s;
  transform: rotate(0deg) scaleX(-1) translate3d(50%, -500%, 0);
}
.paw2:nth-child(11) {
  animation-delay: 14.5s;
  transform: rotate(0deg) translate3d(-44%, -528%, 0);
}
.paw2:nth-child(12) {
  animation-delay: 14s;
  transform: rotate(0deg) scaleX(-1) translate3d(60%, -600%, 0);
}
.paw2:nth-child(13) {
  animation-delay: 13.5s;
  transform: rotate(0deg) translate3d(-52%, -624%, 0);
}
.paw2:nth-child(14) {
  animation-delay: 13s;
  transform: rotate(0deg) scaleX(-1) translate3d(70%, -700%, 0);
}
.paw2:nth-child(15) {
  animation-delay: 12.5s;
  transform: rotate(0deg) translate3d(-60%, -720%, 0);
}
.paw2:nth-child(16) {
  animation-delay: 12s;
  transform: rotate(0deg) scaleX(-1) translate3d(80%, -800%, 0);
}
.paw2:nth-child(17) {
  animation-delay: 11.5s;
  transform: rotate(0deg) translate3d(-68%, -816%, 0);
}
.paw2:nth-child(18) {
  animation-delay: 11s;
  transform: rotate(0deg) scaleX(-1) translate3d(90%, -900%, 0);
}
.paw2:nth-child(19) {
  animation-delay: 10.5s;
  transform: rotate(0deg) translate3d(-76%, -912%, 0);
}
.paw2:nth-child(20) {
  animation-delay: 10s;
  transform: rotate(0deg) scaleX(-1) translate3d(100%, -1000%, 0);
}

.les-premiers-pas {
  font-size: 55px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.glitch {
  font-size: 55px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 black, 0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite 3s;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 500ms infinite 3s;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite 3s;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 black, 0.025em 0.04em 0 #fffc00;
  }
  5% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 black, 0.025em 0.04em 0 #fffc00;
  }
  6% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 black, 0.025em 0.04em 0 #fffc00;
  }
  16% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 black, 0.025em 0.04em 0 #fffc00;
  }
  17% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 black, 0.025em 0.04em 0 #fffc00;
  }
  33% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 black, 0.025em 0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 black, -0.04em -0.025em 0 #fffc00;
  }
}
.anim {
  text-align: center;
  padding-top: 100px;
  font-family: "Montserrat";
  font-weight: 800;
  color: black;
  font-size: 80px;
  animation: glitch2 2s infinite;
}

.anim::after {
  position: absolute;
  content: attr(data-text);
  bottom: 0;
  left: 0;
  color: black;
  background-color: white;
  width: 100%;
  visibility: hidden;
  animation: clip 2s infinite;
}

.anim:hover {
  animation: glitch2 2s infinite;
}

.anim:hover::after {
  animation: clip 2s infinite;
}

body {
  background: #edf7fa;
}

.formations h2 {
  text-align: center;
  padding-top: 120px;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
}
.formations .conteneur {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}
.formations .conteneur > article {
  width: 350px;
}
.formations .conteneur .card-title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
.formations .conteneur .card-middle {
  transition: 0.35s ease-in-out;
}
.formations .conteneur .card-middle p {
  padding: 30px;
  transition: 3s;
  line-height: 25px;
  font-size: 15px;
}
.formations .conteneur .card-middle a {
  display: inline-block;
  width: 120px;
  padding: 8px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 16px;
  display: block;
}
.formations .conteneur .card-middle a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}

.html .card-middle a {
  background-color: #2196f3;
}

.algo .card-middle a {
  background-color: #e91e63;
}

.formation-gratuite .card-middle a {
  background-color: #23c186;
}

.card {
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 0.75em;
  padding: 0;
  transition: all 0.2s ease-in-out;
}
.card:nth-child(even) {
  margin: 0 1em;
}

.card-top {
  background: #b2dce5;
  padding: 3em;
  border-top-left-radius: 0.75em;
  border-top-right-radius: 0.75em;
}
.card-top .card-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 12em;
  width: auto;
}
.card-top .overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 17.75em;
  width: 100%;
  border-top-left-radius: 0.75em;
  border-top-right-radius: 0.75em;
  z-index: 10;
  background: rgba(0, 0, 0, 0.55);
  overflow: hidden;
  transition: all 700ms ease;
  opacity: 0;
}
.card-top .overlay h1 {
  text-align: center;
  font-weight: 500;
  color: #fff;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.card-top .overlay:hover, .card-top .overlay:focus {
  opacity: 1;
}

.triangle {
  position: relative;
  border-style: solid;
  height: 0;
  width: 0;
  border-color: #b2dce5 transparent transparent;
  border-width: 1.5em 1.5em 0;
  margin: 0 auto -1.75em auto;
  top: -0.25em;
  z-index: 20;
}

.card-middle {
  background: #efefef;
  max-height: 0;
  overflow: hidden;
}
.card-middle .more {
  font-weight: 400;
}

.card-bottom {
  background: #f7f7f7;
  padding: 1.75em 1em 1em 1em;
  border-bottom-left-radius: 0.75em;
  border-bottom-right-radius: 0.75em;
}
.card-bottom .card-title {
  font-weight: 100;
}

.circle-button {
  position: absolute;
  bottom: 0;
  right: 3.5em;
  width: 70px;
  height: 70px;
  font-size: 1.5em;
  color: #fff;
  background: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.275);
  outline: none;
  cursor: pointer;
  transition: all 300ms ease;
}
.circle-button .close {
  transition: transform 400ms ease;
}
.circle-button:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.275);
}

.closeRotate {
  transform: rotate(45deg);
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: graphik;
}
.contact .conteneur {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}
.contact .conteneur h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 80px;
  font-family: graphik;
  text-align: center;
}
.contact .conteneur form {
  width: 40%;
}
.contact .conteneur form div > * {
  display: block;
}
.contact .conteneur form label {
  font-size: 22px;
  padding-bottom: 8px;
  margin-top: 20px;
  font-family: graphik;
}
.contact .conteneur form input[type=email] {
  width: 100%;
  border: none;
  height: 50px;
  box-sizing: border-box;
  transition-timing-function: ease-in-out;
  transition-duration: 80ms;
  font-size: 15px;
  color: #3e4854;
  box-shadow: inset 0 0 0 1px #d5dce3;
  border-radius: 4px;
  background-color: #fff;
  vertical-align: middle;
  transition-property: all;
  outline-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 16px;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: graphik;
}
.contact .conteneur form input[type=email]:hover:not(:focus) {
  box-shadow: inset 0 0 0 1px #aab5c5;
}
.contact .conteneur form input[type=email]:focus {
  box-shadow: inset 0 0 0 1px #1fb6ff;
}
.contact .conteneur form textarea {
  width: 100%;
  min-height: 120px;
  transition-timing-function: ease-in-out;
  transition-duration: 80ms;
  font-size: 15px;
  color: #3e4854;
  border-radius: 4px;
  background-color: #fff;
  vertical-align: middle;
  transition-property: all;
  outline-style: none;
  border-width: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 14px 16px;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: graphik;
}
.contact .conteneur form textarea:focus {
  box-shadow: inset 0 0 0 1px #1fb6ff;
}
.contact .conteneur form input[type=submit] {
  font-size: 15px;
  width: 100%;
  margin-top: 40px;
  padding: 16px 0;
  border: none;
  color: white;
  font-weight: bold;
  font-family: graphik;
}

.carrousel {
  transition: 3s;
  position: relative;
  overflow: hidden;
}
.carrousel .conteneur-fleches {
  z-index: 1000;
  display: flex;
  justify-content: space-around;
}
.carrousel .conteneur-fleches .slide-gauche, .carrousel .conteneur-fleches .slide-droite {
  width: 75px;
  height: 75px;
  border: none;
  background-color: white;
  box-shadow: 0px 0px 20px -15px #4b4c4b;
  border-radius: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
.carrousel .conteneur-fleches .slide-gauche img, .carrousel .conteneur-fleches .slide-droite img {
  height: 30px;
}
.carrousel .conteneur-fleches .slide-gauche, .carrousel .conteneur-fleches .slide-droite:hover {
  cursor: pointer;
}
.carrousel .conteneur-fleches .slide-gauche {
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 1000;
  display: none;
}
.carrousel .conteneur-fleches .slide-droite {
  position: absolute;
  top: 50%;
  right: 10%;
  z-index: 1000;
}
.carrousel .conteneur-fleches .slide-gauche:hover, .carrousel .conteneur-fleches .slide-droite:hover {
  background-color: #E1003D;
  transition: 0.8s;
}
.carrousel .conteneur-fleches .slide-gauche:hover img:hover, .carrousel .conteneur-fleches .slide-droite:hover img:hover {
  color: white;
}
.carrousel .temoignages {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carrousel .carte1 {
  background-color: white;
  width: 60em;
  margin: 0 auto;
  padding: 2em;
  border-radius: 15px;
  box-shadow: 0px 0px 20px -15px #4b4c4b;
}
.carrousel .carte1 .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.carrousel .carte1 .row .column-gauche {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.carrousel .carte1 .row .column-gauche .photo {
  text-align: center;
}
.carrousel .carte1 .row .column-gauche .photo img {
  width: 50%;
}
.carrousel .carte1 .row .column-droite {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
  justify-content: center;
}
.carrousel .carte1 .row .column-droite .droite {
  margin-bottom: 2vh;
}
.carrousel .carte1 .row .column-droite .droite .texte-temoignage {
  color: grey;
  margin-top: 2em;
  padding-right: 4em;
  text-align: justify;
}
.carrousel .carte1 .row .column-droite .droite .nom-temoignage {
  color: #e1003c;
  font-weight: 600;
  font-size: 20px;
  margin: 1em 0;
}
.carrousel .carte1 .row .column-droite .droite .location-temoignage {
  color: grey;
  opacity: 60%;
  margin-left: 15px;
}
.carrousel .temoignage-initial {
  width: 100%;
  transition: 0.8s;
}
.carrousel .temoignage2 {
  transform: translate(100vw, -50%);
  width: 100%;
  opacity: 0;
  transition: 0.8s;
}
.carrousel .temoignage3 {
  width: 100%;
  transform: translate(200vw, -50%);
  opacity: 0;
  transition: 0.8s;
}

/*# sourceMappingURL=style.css.map */
