@use 'base';

.hero{
    // background-color: base.$primary-color;
    position: relative;
    

    .conteneurHero{
        height: 100vh;
        width: 100%;
        max-width: 1600px;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        flex-direction: row-reverse;

        .logo{
            width: 30%;
            background-image: url(../images/mascotte-v1.png);
            background-repeat: no-repeat;
            background-size: 305px;
            background-position: left 85%;
            z-index: 10;

        }

        
    
        .conteneur{
            width: 100%;
    
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
    
            padding: 0 80px;

            .logo{
                width: 300px;
                height: 300px;
                position: absolute;
                bottom: 50px;
                right: 100px;
       
            }

            .conteneur-titre{
                width: 100%;
                color: white;
            }
            >*{
                animation: apparait;
                animation-duration: 0.5s;
                animation-timing-function: linear;
                animation-fill-mode: forwards;
                opacity: 0;
                animation-delay: 4.5s;

            }

            .les-premiers-pas{
                line-height: 80px;
            }

         
    
           
    
            h1{
                font-size: 50px;
                margin-bottom: 30px;
                
                text-transform: uppercase;
                font-weight: bold;
              
            }
    
            p.description{
                opacity: 0;
                font-size: 25px;
                margin-bottom: 50px;
                margin-top: 56px;
                color: white;
                line-height: 42px;
                background-clip: text;
                -webkit-background-clip: text;
               

                color: white;
               
                
                

    
            }

            .conteneur-cta{

            
    
                a.cta{
                    text-decoration: none;
                    color: white;
                
        
                    padding: 16px 40px;
                    text-transform: uppercase;

                    background-color: white;
                    color: purple;
                    border: 2px solid white;
                }

                a.cta:last-child{
                    background-color: transparent;
                    color: white;
                    
                   
                }
            }
        }


    
    }
}


// Pour faire la vugue du premier bloc
.custom-shape-divider-bottom-1651429820 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    pointer-events: none;
}

.custom-shape-divider-bottom-1651429820 svg {
    position: relative;
    display: block;
    width: calc(218% + 1.3px);
    height: 500px;
    transform: rotateY(180deg);
    
    
}

.custom-shape-divider-bottom-1651429820 .shape-fill {
    fill: white;
    
}
