@import "bourbon";

@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,200,100);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

$blue: #b2dce5;
$font: Work Sans;
$card-border-radius: 0.75em;
$background: #edf7fa;

body {
  background: $background;
}

.formations{
    h2{
    text-align: center;
    padding-top: 120px;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    }
    .conteneur{
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        width: 90%;
        >article{
            width: 350px;
        }

        .card-title{
            text-align: center;
            font-size: 22px;
            font-weight: bold;
        }

        .card-middle{
            transition: 0.35s ease-in-out;

            p{
                padding: 30px;
                transition: 3s;
                line-height: 25px;
            }

            a{
              display: inline-block;
              width: 120px;
          
          
              padding: 8px 20px;
              border-radius: 5px;
              text-decoration: none;
              color: white;
             
              box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
              transition: 0.5s;
              text-align: center;

              margin: 0 auto;
              margin-bottom: 16px;
              display: block;

              &:hover{
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
                background: #fff;
                color: #000;
              }

              
          }

        
        }

     


         
     
        
        
    }
    
}


.html .card-middle a{
  background-color: #2196f3;
}



.algo .card-middle a{
  background-color: #e91e63;
}

.formation-gratuite .card-middle a{
  background-color: #23c186;
}




.card {
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: $card-border-radius;
  padding: 0; // tight #nice bruh
  transition: all 0.2s ease-in-out;

  &:nth-child(even) {
    margin: 0 1em;
  }
}

.card-top {
  background: $blue;
  padding: 3em;
  @include border-top-radius($card-border-radius);

  .card-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 12em;
    width: auto;
  }

  .overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 17.75em;
    width: 100%;
    @include border-top-radius($card-border-radius);
    z-index: 10;
    background: rgba(0, 0, 0, 0.55);
    overflow: hidden;
    transition: all 700ms ease;
    opacity: 0;

    h1 {
      text-align: center;
      font-weight: 500;
      color: #fff;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

.triangle {
  position: relative;
  @include triangle("down", 3em, 1.5em, $blue);
  margin: 0 auto -1.75em auto;
  top: -0.25em;
  z-index: 20;
}

.card-middle {
    //   display: none;
    background: #efefef;
    //   padding: 2em 1em 1em 1em;
    max-height: 0;
    overflow: hidden;

  .more {
    font-family: Open Sans;
    font-weight: 400;
  }
}

.card-bottom {
  background: #f7f7f7;
  padding: 1.75em 1em 1em 1em;
  @include border-bottom-radius($card-border-radius);

  .card-title {
    font-weight: 100;
  }
}

// testing
.circle-button {
  position: absolute;
  bottom: 0;
  right: 3.5em;
  width: 70px;
  height: 70px;
  font-size: 1.5em;
  color: #fff;
  background: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.275);
  outline: none;
  cursor: pointer;
  transition: all 300ms ease;

  .close {
    transition: transform 400ms ease;
  }

  &:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.275);
  }
}

.closeRotate {
  transform: rotate(45deg);
}

// base
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: $font;
}
