@use 'base';


.conteneurMenu{
    
    position:fixed;
    width:100%;
    z-index: 2;

  
    background-color: #ffffffcc;
  
    >div{
      width: 100%;
      margin: 0 auto;
      max-width: 1600px;
      display: flex;
    }
    
  
    .conteneurLogo{
        width:50%;
        display: flex;
        align-items: center;
        color: black;
        text-decoration: none;

        p{
            font-family: base.$police-principal;
            font-size: 23px;
            margin-left: 100px;
        }
    }
    nav{
      
      width: 50%;
      height: 92px;
      display: flex;
      justify-content: center;
      align-items: center;
  
      a{
        text-decoration: none;
        color: black;
        font-size: 20px;
        margin: 0 16px;

        &:last-child{
          display: inline-block;
          padding: 16px 20px;
          border-radius: 5px;
          text-decoration: none;
          color: white;
         
          box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
          transition: 0.5s;
          text-align: center;

          background-color: #e91e63;

        
        }
      }
      
    
    }
  }