// FLECHES

.carrousel {
    transition: 3s;
    // transform: translateX(-100vw);
    // position: relative;

    .conteneur-fleches {
        z-index: 1000;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        position: relative;
        top: 14em;
    
        .slide-gauche, .slide-droite {
            width: 75px;
            height: 75px;
            border: none;
            background-color: white;
            box-shadow: 0px 0px 20px -15px #4b4c4b;
            border-radius: 50px;
            text-align: center;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
    
            img {
                height: 30px;
            }
        }

        .slide-gauche:hover, .slide-droite:hover {
            background-color: #E1003D;
            transition: 0.8s;

            img:hover {
                color: white;
            }
        }
    
    
        .slide-gauche {

            transform: translateX(-100%);
            left: 25em;
        }
    
        .slide-droite {
            transform: translateX(100%);
            right: 24em;
        }
    
        // .slide-gauche, .slide-droite::after {
        //     content: " ";
        //     position: absolute;
        //     width: 75px;
        //     height: 75px;
        //     top: 50%;
        //     left: 54%;
        //     transform: translate(-50%, -50%) rotate(135deg);
        // }
    
        // .slide-droite::after {
        //     left: 47%;
        //     transform: translate(-50%, -50%) rotate(-45deg);
        // }
    }
    
    
    
    
    
    // .temoignage-active {
    //     opacity: 1;
    //     position: relative;
    //     z-index: 900;
    // }
    
    // 1ERE CARTE DE TEMOIGNAGE
    
    .temoignage-initial {
    
        position: absolute;
        left: 28em;
        top: 312em;
    
        .carte1 {
            background-color: white;
            width: 60em;
            margin: 0 auto;
            padding: 2em;
            border-radius: 15px;
            box-shadow: 0px 0px 20px -15px #4b4c4b;
    
            .row {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
    
                .column-gauche {
                    display: flex;
                    flex-direction: column;
                    flex-basis: 100%;
                    flex: 1;
    
                    .photo {
                        text-align: center;
    
                        img {
                            width: 50%;
                        }
                    }
    
                }
    
                .column-droite {
                    display: flex;
                    flex-direction: column;
                    flex-basis: 100%;
                    flex: 2;
                    justify-content: center;
    
                    .droite {
                        margin-bottom: 2vh;
    
                        .texte-temoignage {
                            color: grey;
                            margin-top: 2em;
                            padding-right: 4em;
                            text-align: justify;
                        }
        
                        .nom-temoignage {
                            color: #e1003c;
                            font-weight: 600;
                            font-size: 20px;
                            margin: 1em 0;
                        }
        
                        .location-temoignage {
                            color: grey;
                            opacity: 60%;
                            margin-left: 15px;
                        }
                    }
    
    
                }
            }
    
        }
    }
    
    // 2E CARTE DE TEMOIGNAGE
    
    .temoignage2 {
    
        opacity: 0;
        z-index: 100;
        position: absolute;
        left: 28em;
        top: 312em;
        margin-left: -100vw;
    
        .carte1 {
            background-color: white;
            width: 60em;
            margin: 0 auto;
            padding: 2em;
            border-radius: 15px;
            box-shadow: 0px 0px 20px -15px #4b4c4b;
    
            .row {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
    
                .column-gauche {
                    display: flex;
                    flex-direction: column;
                    flex-basis: 100%;
                    flex: 1;
    
                    .photo {
                        text-align: center;
    
                        img {
                            width: 50%;
                        }
                    }
    
                }
    
                .column-droite {
                    display: flex;
                    flex-direction: column;
                    flex-basis: 100%;
                    flex: 2;
                    justify-content: center;
    
                    .droite {
                        margin-bottom: 2vh;
    
                        .texte-temoignage {
                            color: grey;
                            margin-top: 2em;
                            padding-right: 4em;
                            text-align: justify;
                        }
        
                        .nom-temoignage {
                            color: #e1003c;
                            font-weight: 600;
                            font-size: 20px;
                            margin: 1em 0;
                        }
        
                        .location-temoignage {
                            color: grey;
                            opacity: 60%;
                            margin-left: 15px;
                        }
                    }
    
    
                }
            }
    
        }
    }
    
    // 3E CARTE DE TEMOIGNAGE
    
    .temoignage3 {
    
        opacity: 0;
        z-index: 100;
        position: absolute;
        left: 28em;
        top: 312em;
        margin-left: 100vw;
    
        .carte1 {
            background-color: white;
            width: 60em;
            margin: 0 auto;
            padding: 2em;
            border-radius: 15px;
            box-shadow: 0px 0px 20px -15px #4b4c4b;
    
            .row {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
    
                .column-gauche {
                    display: flex;
                    flex-direction: column;
                    flex-basis: 100%;
                    flex: 1;
    
                    .photo {
                        text-align: center;
    
                        img {
                            width: 50%;
                        }
                    }
    
                }
    
                .column-droite {
                    display: flex;
                    flex-direction: column;
                    flex-basis: 100%;
                    flex: 2;
                    justify-content: center;
    
                    .droite {
                        margin-bottom: 2vh;
    
                        .texte-temoignage {
                            color: grey;
                            margin-top: 2em;
                            padding-right: 4em;
                            text-align: justify;
                        }
        
                        .nom-temoignage {
                            color: #e1003c;
                            font-weight: 600;
                            font-size: 20px;
                            margin: 1em 0;
                        }
        
                        .location-temoignage {
                            color: grey;
                            opacity: 60%;
                            margin-left: 15px;
                        }
                    }
    
    
                }
            }
    
        }
    }
}
