
$primary-color: purple;
$police-principal : 'Poppins';

@font-face {
  font-family: "graphik";
  src: url("../polices/00.+Graphik-Medium-Web.woff2");
  font-display: swap;
}

*{
  box-sizing: border-box;
}


html{
  // scroll-snap-type: y mandatory;
  transition:3s;
  font-family: $police-principal;
  scroll-behavior: smooth;
  // ::-webkit-scrollbar {
  //   // display: none;
    
  // }
  
}

h2{
  text-align: center;
  // margin: 32px 0;
  font-weight: bold;
  font-size: 50px;
  // margin-bottom: 72px;
}


body{
 

 
 
  

  section{
    scroll-snap-align: start;
    min-height: 100vh;
  }
}




  /* Pour ceux a qui on a envie de mettre un fond degradé */
.degrade{
 
    background-image: radial-gradient(circle at 56.16% 120.44%, #f446ff 0, #d635fb 25%, #b31ef3 50%, #8c02eb 75%, #6100e5 100%);
}

