@media screen and (max-width:1500px) {

    .bloc-tu-veux {
        .conteneur{
            .developpeuse{
                span{
                    float: left !important;
                }
                .message{
                    float: left;
                    position: relative;
                    left: 0px !important;
                    padding-left: 0px !important;
                }
            }
        }
    }
}

@media screen and (max-width:960px){
    .bloc-tu-veux{
        flex-direction: column;
        .conteneur{
            width: 100%;
        }
        .conteneur-cta{
            width: 100%;
            margin-bottom: 80px;
            padding-top: 0px;
            align-items: center;
            .accordion{
                margin-top: 10px;
            }
        }
    }
}

@media screen and (max-width:700px) {
    .bloc-tu-veux{
        .conteneur-cta{
            justify-content: flex-end;
        }
    }

    .bloc-cta-html{
        .conteneurBloc{
            .conteneurEffet{
                .card-code{
                    display: flex;
                    justify-content: center;
                    margin-top: 90px;

                    .card-code-back, .card-code-front{
                        width: 90%;
                    }
                }
            }
        }
    }
}