.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    font-family: "poppins";

    .conteneur{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        max-width: 1200px;
        margin: 0 auto;
        margin-top: 120px;
        width: 90%;

        background-image: url("../images/POULPY-CONTACT.png");
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: center right;

        @media screen AND (max-width: 960px) {
            padding-bottom: 280px;
            background-position: bottom;
        }

        @media screen AND (max-width: 450px) {
            padding-bottom: 160px;
            background-position: bottom;
        }
    
        h2{
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 40px;
            font-family: "poppins";

            text-align: center;


        }

        form{
            width: 40%;

            @media screen AND (max-width: 960px) {
                width: 80%;
                margin: 0 auto;
            }
            div>*{
                display: block;
            }

            label{
                font-size: 22px;
                padding-bottom: 8px;
                margin-top: 20px;
                font-family: "poppins";


            }

            input[type="email"]{
                width: 100%;
                border: none;
                height: 50px;
                box-sizing: border-box;
                transition-timing-function: ease-in-out;
                transition-duration: 80ms;
                font-size: 15px;
                color: #3e4854;
                box-shadow: inset 0 0 0 1px #d5dce3;
                border-radius: 4px;
                background-color: #fff;
                vertical-align: middle;
                transition-property: all;
                outline-style: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                padding: 0 16px;
                line-height: 1;
                text-rendering: optimizeLegibility;
                -webkit-font-smoothing: antialiased;
                font-family: "poppins";


                &:hover:not(:focus){
                    box-shadow: inset 0 0 0 1px #aab5c5;
                    
                }

                &:focus{
                    box-shadow: inset 0 0 0 1px #1fb6ff;
                }
            }

            #error-mail {
                margin-top: 10px;
                color: red;
                font-size: 15px;
                display: none;
            }

            textarea{
                width: 100%;
                min-height: 120px;
                transition-timing-function: ease-in-out;
                transition-duration: 80ms;
                font-size: 15px;
                color: #3e4854;
                border-radius: 4px;
                background-color: #fff;
                vertical-align: middle;
                transition-property: all;
                outline-style: none;
                border-width: 0;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                padding: 14px 16px;
                line-height: 1.4;
                text-rendering: optimizeLegibility;
                -webkit-font-smoothing: antialiased;
                box-sizing: border-box;
                font-family: "poppins";
                box-shadow: inset 0 0 0 1px #d5dce3;

            


                &:focus{
                    box-shadow: inset 0 0 0 1px #1fb6ff;
                }
            }

            input[type="submit"]{
                font-size: 20px;
                width: 100%;
                margin-top: 40px;
                padding: 8px 0;
                border: none;
                color: white;
                font-weight: bold;
                font-family: "poppins";

            }
        }
    }


}