





.les-premiers-pas{
    font-size: 55px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;

    @media screen AND (max-width: 960px) {
        font-size: 50px;
    }

    @media screen AND (max-width: 700px) {
      font-size: 28px;
    }
}


.glitch {
    font-size: 55px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 black,
      0.025em 0.04em 0 #fffc00;
    animation: glitch 725ms infinite 3s;

    @media screen AND (max-width: 960px) {
      font-size: 50px;
    }

    @media screen AND (max-width: 700px) {
      font-size: 28px;
    }
  }
  
  .glitch span {
    position: absolute;
    top: 0;
    left: 0;

    @media screen AND (max-width: 960px) {
      left:auto;
      display: inline-block;
      margin: 0 auto;
    }
  }
  
  .glitch span:first-child {
    animation: glitch 500ms infinite 3s;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    transform: translate(-0.04em, -0.03em);
    opacity: 0.75;
  }
  
  .glitch span:last-child {
    animation: glitch 375ms infinite 3s;
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    transform: translate(0.04em, 0.03em);
    opacity: 0.75;
  }
  
  // J'ai remplacé le rose, pas du noir, je trouvais ça plus adapté !
  // Reprendre le glitch de l'exemple pour mieux s'y retrouver !
  @keyframes glitch {
    0% {
      text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 black,
        0.025em 0.04em 0 #fffc00;
    }
    5% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 black,
        0.025em 0.04em 0 #fffc00;
    }
    6% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 black,
        0.025em 0.04em 0 #fffc00;
    }
    16% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 black,
        0.025em 0.04em 0 #fffc00;
    }
    17% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 black,
        0.025em 0.04em 0 #fffc00;
    }
    33% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 black,
        0.025em 0.04em 0 #fffc00;
    }
    100% {
      text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 black,
        -0.04em -0.025em 0 #fffc00;
    }
    
  }


  // Animation numero 2


.anim{
	text-align: center;
	padding-top: 100px;
	font-family: 'Montserrat';
	font-weight: 800;
	color: black;
	font-size: 80px;
    animation: glitch2 2s infinite;

    
}

.anim::after{
    position: absolute;
    content: attr(data-text);
    bottom: 0;
    left: 0;
    color: black;
    background-color: white;
    width: 100%;
    visibility: hidden;
    animation: clip 2s infinite;

}
.anim:hover{
    animation: glitch2 2s infinite;
}
.anim:hover::after{
    animation: clip 2s infinite;
}
