section.description{
    >h2{
        padding-top: 72px;
    }

    .conteneurDescription{
        display: flex;
        align-items: center;

        >*{
            width: 50%;
        }

        p{
            line-height: 28px;
        }
    }

    
}

.inverse{
    flex-direction: row-reverse;
}