.premiereSectionHtml{
    display: flex;
    justify-content: center;
    align-items: center;

    .conteneurTitre{
        color: white;

        h1{
            font-size: 60px;
            font-weight: bold;
        }

        p{
            text-align: center;
            margin-top: 24px;
            font-size: 25px;
        }
    }
}